.footer {
  background: #52525e;
  color: #fff;
  padding: 3rem 8rem;
  font-size: 9px;
}

.dev1img{
  width: 180px;
  height: 130px;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top i {
  color: #fff;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.top i:hover {
  color: grey;
  font-size: 30px;
}

.bottom {
  padding-top: 1rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* font-size: 9px; */
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h4 {
  font-size: 1rem;
  padding: 1rem 0 0.5rem 0;
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 0.6rem;
}



@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }

  .footer i {
    margin: 0.8rem 0.8rem 1 0;
  }

  .bottom div {
    width: 50%;
  }
  .dev1img{
    width: 140px;
    height: 110px;
  }
  .scroll-to-top{
    overflow: visible;
    display:flow-root;
    width: 10xp;
    height: 5px;
    color: white;
    padding-right: 15px;
    margin-right: -5px;
    /* display: none !important; */
  }
}
